##########################################################################################
# NOTE: this file is also used as the --ignore-path for Prettier & ESLint scripts
# ? Reference: https://eslint.org/docs/latest/use/configure/ignore#using-an-alternate-file
##########################################################################################

# Common
.DS_Store
node_modules/
npm-debug.log

# IDE
.idea/
*.iml

# Build files
/exampleFunction.mjs
